Source: python3-cyberfusion-sway
Section: net
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 13), python3-setuptools, pybuild-plugin-pyproject
Standards-Version: 4.3.0

Package: python3-cyberfusion-sway
Architecture: all
Suggests: monitoring-plugins-contrib, haproxy, haproxy-doc
Depends: python3, sudo, ${python3:Depends}, ${misc:Depends}
Description: Sway is an agent for HAProxy agent health checks.
 Sway is an agent for HAProxy agent health checks.
