[Unit]
Description=Sway, agent for HAProxy agent health checks
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
Environment=CONFIG_FILE_PATH=/etc/sway.yml
ExecStart=/usr/bin/sway-server --config-file-path $CONFIG_FILE_PATH
User=sway
Group=sway
Restart=on-failure
RestartSec=60
